#content {
    width:100%;
    background:#fff;
    position:absolute;
    padding-bottom:50px;
    article {
        width:60%;
        margin-left:20%;
	h2 {
	    margin-top:0;
            text-align:center;
            border-bottom:1px solid @grey;
            font-weight:100;
            @media @mobile {
                font-size:34px;
            }
	}
        &.sponsoring {
            img {
                float:left;
                width:140px;
            }
        }
        &:first-child {
            margin-top:40px;
        }
    }

    .confetti{
        width:15%;
        position:absolute;
        top:0;
        background:url('../img/confetti.png');
        &.confetti-left {
            left:0;
        }
        &.confetti-right {
            right:0;
        }
    }
}